body{
width: 100vw;
overflow-x: hidden;

 
 
   
   
}

header{
    font-family: "Rubik", sans-serif ;
   
}

.mainwrap{
    width: 87vw !important;

}

.mainwrap2{
    width: 87vw !important;

    
}



nav{
position:absolute;
top: 0;
left: 0;
width: 100vw;
min-height: 100vh;
background-color: hsl(229, 31%, 21%,0.9) ;

    
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
 z-index: 2;
 display: none;
 

}




nav ul{
    min-height: 60vh !important;
    margin-top: -2px;
    
   
}

.navend{
    min-height: 40vh !important;
    display: flex;
    align-items: last baseline;
   

}



nav ul li{
    


    text-transform:uppercase;
    text-align: center;
    padding-top: 6px ;
    padding-bottom: 6px;
    color: white;
    font-weight: 400;
    letter-spacing: 3px;
    cursor: pointer;
    
}

nav hr{
    color: white;
   width: 80vw;
}



/* ///MAIN/// */
main{
    width: 100vw;
    overflow-x: hidden;
    font-family: "Rubik", sans-serif ;
   
  }

/* ////section 1//// */



.sec1{
    margin-top: 120px;
width: 100vw;


   
}

.sec1imgs{
    display: flex;
    justify-content: end;
    width: 100%;
    
}



.sec1-1{
/* width:80vw; */
width:80vw;

    background: hsl(231, 69%, 60%);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
display: flex;
justify-content: center ;


}

.sec1-1 img{
    /* position: relative;
    left: -22% ;
top: -60px; */
position: relative;

top: -60px;
margin-left: -20%;
/* width: 450px ; */
min-width:330px ;

  


/* min-width: 340px; */

}






.para{
    font-weight: 400;
    color:  hsl(229, 8%, 60%);
}

.butts1{
    background:  hsl(231, 69%, 60%) !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    min-width: 140px;
    height: 40px;
   
}


.butts1:hover{
    color: hsl(231, 69%, 60%) !important;
    background: white !important;
    border: solid hsl(231, 69%, 60%) 2px !important;
}


.butts2{
    background: rgb(247, 247, 247) !important;
    font-size: 12px !important;
    font-weight: 400;
    min-width: 140px;
    height: 40px;
    color: hsl(229, 8%, 60%);
    font-weight: 500 !important;
}


.butts2:hover{
border: solid hsl(229, 8%, 60%) 2px !important;

}


.buttswrap{
    display: flex;
    justify-content: center;
    gap: 10px;
}



/* /////////SECTION 2//// */
.sec2{
    margin-top: 110px;
}



.sec2-2 hr{
    margin-top: 5px;
}


.lgs{
    display: none;
}


.tablink{
    cursor: pointer;
 
   text-wrap: nowrap;

}



.tablink h6{
    font-weight: 300;
   
}



.tablink h6:hover{
    color: hsl(0, 94%, 66%);
}


.tabindicator1{
  width: 85%;
 
    height: 5px;
    background: hsl(0, 94%, 66%);
    
   position: relative;
  top: 5px;
    display:none ;
   
   
}


.active .tabindicator1{
    display: block;
}


.tabContent-wrap .tabContent{
    display: none ;
    flex-direction: column;
}

.tabContent-wrap .tabContent:first-of-type{
   
    display: flex ;
    flex-direction: column;
}



.tabContent-wrap{
 margin-top: 120px;
 min-width: 100vw;


}
.Intabcontent1, .Intabcontent2, .Intabcontent3{

 max-width: 75vw;
    background: hsl(231, 69%, 60%);
    border-top-right-radius:200px ;
    border-bottom-right-radius:200px ;
display: flex;
justify-content: end;
}



.tabContentimg1, .tabContentimg2, .tabContentimg3{
    min-width:310px;
   position: relative;
   left: 60px;
   top: -40px;


}


/* ///////SEC3/////// */



.sec3{
    margin-top: 150px;
    position: relative;
    top: 60px;
    
}





h1,h4,h5{

    letter-spacing: 1px;

}

.install{
    background: hsl(231, 69%, 60%) !important;
    width: 80%;
    color: white !important;
   
}

.brows{
   
    width: 300px;
    height: 380px;
    border-radius: 20px ;
    
}



.ans{
    display: none ;
}


#closeicon{
color: hsl(0, 94%, 66%);
}



/* ////SEC4//////// */



.insec4Wrap2 .ques:not(:first-of-type){
  
    margin-top: -10px;
   
 }

 .insec4Wrap2 .ques p{
   
    font-size: 15px;
}


.insec4Wrap2 .ques td:hover{
    color:hsl(0, 94%, 66%) ;
    cursor: pointer;
    
}



.infobutts button{
    background: hsl(231, 69%, 60%);
    color: white;
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    
}

.infobutts4 button{
    background: hsl(231, 69%, 60%);
    color: white;
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}



.infobutts button:hover{
    background: hsl(231, 69%, 60%);
    color: white;
}

.infobutts4 button:hover{
    background: hsl(231, 69%, 60%);
    color: white;
}



.frehr{
    opacity: 0;
}


/* ///////SEC5////// */

.sec5{
    margin-top: 120px;
    background: hsl(231, 69%, 60%);
}



.insec5text h6{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px !important;
    font-weight: 300;
}



#error{
    background: hsl(0, 94%, 66%);
    border-radius: 5px;
   
    margin-top: -58px;
  
   display: none;
    align-items: center;
    justify-content: space-between;

   

   
 
}

#errortext{
   
    font-size: 12px;
    color: white;
    font-weight: 400;

}



.contact{
    background: hsl(0, 94%, 66%);
    color: white;
    cursor: pointer;
    padding: 13px;
    
    position: relative;
    top: -70px;
    
    
}

.contact:hover{
    background: white;
    color: hsl(0, 94%, 66%) ;
    border:solid  hsl(0, 94%, 66%) 2px !important;
}



#mail{
    
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
    outline: 0;

    
}

.mailW2{
   margin-top: 90px;
}


.here{
    position: relative;
  top: 42px;
  padding-right: 10px;
    z-index: 5;
  
}




.erroricon{
  margin-top: -30px;
  right: 20px;
  
    
}







/* //////FOOTER///// */

.footWrap{
    background:hsl(229, 31%, 21%);
}

.footWrap ul li{
    text-transform:uppercase;
    font-weight: 100;
    color: white;
    margin-top: 35px;
    letter-spacing: 2px;
    cursor: pointer;
}

.infootWrap{
display: flex;
flex-direction: column;
align-items: center;

   
}

.infootWrap1 ul li:not(:nth-of-type(1)):hover{
    color:hsl(0, 94%, 66%) ;
    
}

.infootWrap2 :hover{
   cursor: pointer;
    fill: hsl(0, 94%, 66%);
    
}


.attribution { font-size: 11px; text-align: center; color:  hsl(228, 45%, 44%); }
    .attribution a { color:white; }





@media(min-width:800px){
  header{
    padding-top: 20px;

    
  }

  .headerWrap{
    width: 82vw !important;
   
}

   .mainwrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
   }



   nav{
min-height:unset ;
  position: unset;
  
  width: unset ;
background: none;
display: flex ;
padding-top: 13px;


   }


   #menu{
    display: none;
   }

   nav ul{
    min-height: unset !important;

   
}

nav .navlogo{
    display: none !important;
}

nav .navend{
    display: none;
    
}



.line{
    display: none ;
   }

 nav ul li{
    


    text-transform:uppercase;
   display: inline;
font-size: 14px;
   margin-left: 40px;
    padding-top: unset ;
    padding-bottom: unset;
    color:hsl(229, 31%, 21%);
    font-weight: 400;
    letter-spacing: 1px;
    
    
}

nav ul li:hover{
    color: hsl(0, 94%, 66%) ;
}

nav ul li.login{
  
background: hsl(0, 94%, 66%) ;
padding: 10px !important;
padding-left: 30px !important;
padding-right: 30px !important;
color: white;
border: none !important;


}

nav ul li.login:hover{
    background: white;
    color: hsl(0, 94%, 66%) ;
    border: solid hsl(0, 94%, 66%) 1px !important;
    
   
   
}

/* ////// */

.sec1{
    margin-top: 250px !important;
    display: flex;
flex-direction: row-reverse;
}

.sec1imgs{
    width: 50vw;
  
}

.sec1 .d-flex{
width: 50vw;
margin-top: unset !important;


}

.sec1-1{
    width:80vw;
    height: 300px;
        background: hsl(231, 69%, 60%);
        border-top-left-radius: 200px;
        border-bottom-left-radius: 200px;
    position: relative;
    left: 30%;
    
    
    }
    
    .sec1-1 img{
        position: relative;
        left: -25% ;
    top: -150px;
    min-width: 450px;
    height: 450px;
    
    
    
    }





.sec1 .mainwrap{
   display: inline-block;
   text-align: start !important;
    width: 60% !important;
  
}

.buttswrap{
    justify-content: start;
  
 
}

.butts1,.butts2{
    height: 45px;
}


/* ////SEC2/// */


.sec2 .mainwrap{

    width: 33% !important;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sec2-2 hr{
    width: 70vw;
    position: relative;
    left: 10vw;
    
}




.tabContent-wrap .tabContent:first-of-type{
    flex-direction: row ;
}

.tabContent-wrap .tabContent{
    
    flex-direction: row;
}

.Intabcontent1Img, .Intabcontent2Img,.Intabcontent3Img{
   
    width: 50vw;
    
}

.Intabcontent1Text, .Intabcontent2Text,.Intabcontent3Text{
   
    width: 50vw;
 
}


.Intabcontent1Text, .Intabcontent2Text,.Intabcontent3Text .mainwrap2{
    width: 45%;
}




.tabContent-wrap .mainwrap2{
    width: 60% !important;
    text-align: start !important;
  
}


.infobutts button{
    display: unset;
}


.frehr{
    
    position: relative;
    top: 20px;
    opacity: 0.11;
}



}

@media(min-width:1000px){


.mainwrap2{
    width: 50vw !important;
}

.Insec2-1{
    width: 32% !important;
   
}

.Insec2-1 .para{
    margin-top: 10px;
    
}

.sec2-2{
    margin-top: 40px !important;
    display: flex;
 justify-content: space-between;
    
   
}



.sec2-2 hr{
    display: none;
}

.lgs{
    display: block;
    width: 56vw;
    position: relative;
    left: 22vw;
    top: -11px;
}







.tabindicator1:nth-of-type(1){
width: 220px;
margin-left: -60px;
    
}

.tabindicator1:last-of-type{
   width: 220px;
    margin-right: -40px;
    
        
    }


  

    .tabContent-wrap{
        margin-top: 140px !important;
        width: 100vw;
        margin-top: 100px;
    }

    .tabContentimg1{
        top: -80px;
    }

    /* //////SEC 3 ///// */

    .sec3 .mainwrap2{
        width: 35% !important;
        
    }

    .browsWrap{
    
        display: flex;
        justify-content: center;
        gap: 30px;
        
       }

       .browsWrap .brows:last-of-type{
        margin-top: 90px !important;
       
       }

       /* //////SEC 4////// */
.sec4 .insec4Wrap{
    width: 32% !important;
   
   
}

.sec4 .insec4Wrap2 {
    width: 32% !important;
  
}

.insec4Wrap2 table{
    width: 100% !important;
}



/* /////////// SEC5///// */

.insec5text{
  
    width: 450px !important;
    

    
 }


 .mailW {
    display:flex;
  justify-content: space-between;
  width: 450px !important;
   
   
 }


 .insec5text h6{
    letter-spacing: 6px;
 }
 

 .insec5text h4{

font-size: 30px;

margin-top: 40px !important;

 }




 #mailform{
    width: 67% !important;

    
   
 }

 .mailW2{
    width: 30%;
   
 }

 #mail{
 
    height: 60px;
    

    
}



 .insec5text h4{

    margin-top: 20px;
 }


 .contact{
    height: 60px;
    margin-top: -5px;
    
}

.infootWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
   width: 82vw !important;
    
       
    }

    .infootWrap1 ul li{
        display: inline;
       
    }

    .infootWrap1 ul li:not(:first-of-type){
      
        margin-left: 30px;
    }

    .infootWrap2{
        margin-bottom: 40px ;
    }



}